[Unit]
Description=DEMODOs Database Migration
After=demodos-web.service

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory=/opt/demodos
EnvironmentFile=/opt/demodos/.env
ExecStart=/opt/demodos/venv/bin/python manage.py migrate
