{% extends "base.html" %}

{% block title %}DEMODOS Dashboard{% endblock %}

{% block content %}
<h1 class="title has-text-centered">DEMODOS Dashboard</h1>
<div class="columns">
    <div class="column is-4">
        <div class="box">
            <h2 class="subtitle mb-3">Mission settings</h2>
        </div> 
    </div>
    <div class="column is-4">
        <div class="box">
            <h2 class="subtitle mb-3">Global actions</h2>
            <div>
                <span class="value-name">All:</span>
                <input type="button" value="Select all" id="select-all" onclick="document.querySelectorAll('#detector-checkbox').forEach(checkbox => checkbox.checked = true);">
                <input type="button" value="Deselect all" id="deselect-all" onclick="document.querySelectorAll('#detector-checkbox').forEach(checkbox => checkbox.checked = false);">
            </div>
            <hr class="my-2">
            <div>
                <span class="value-name">DoseRate:</span>
                <input type="number" id="dose_rate-all-value" name="dose_rate" value="{{ user.set_dose_rate }}" style="width: 25%;">
                <span> uSv/h</span>
            </div> 
            <div>
            <input class="input-slider" type="range" id="dose_rate-all-slider" min="0" max="500" value="{{ user.set_dose_rate }}"
                hx-post="/detector/-1/update-cps/"
                hx-trigger="input,changed"
                hx-swap="none"
                name="set_dose_rate"
               >
            </div>
            <div>
                <span class="value-name">Threshold:</span>
                <input type="number" id="threshold-all-value" name="threshold" value="{{ user.set_threshold }}" style="width: 25%;">
                <span> uSv/h</span>
            </div>
            <div>
            <input class="input-slider" type="range" id="threshold-all-slider" min="0" max="500" value="{{ user.set_threshold }}"
                hx-post="/detector/-1/update-threshold/"
                hx-trigger="input"
                hx-swap="none"
                name="set_threshold"
               >
            </div>
            <div>
                <span class="value-name">Noise:</span>
                <input type="button" value="Turn on" id="noise-all-on">
                <input type="button" value="Turn off" id="noise-all-off">
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="box">
            <h2 class="subtitle mb-3">Background process</h2>
            <div>
                <span class="value-name"> Last update: </span>
                <span class="value" id="last-update-value"> A/N </span>
            </div>

        </div>
    </div>
</div>
<h1 class="title has-text-centered">Peoples</h1>

<div class="columns">

    {% for user in users %}
    <div class="column is-4">
        {% include "partials/detector_box.html" %}
    </div>
    {% endfor %}
</div>


    <div class="notification has-text-centered">
        This page is active and content updates automatically.
    </div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        function fetchData() {
            fetch('/get_data/')
                .then(response => response.json())
                .then(data => {
                    const detectors = data.detectors;
                    detectors.forEach((detector, index) => {
                        //console.log(`Index: ${index}, Detector:`, detector);
                        //console.log(detector);
                        
                        const detectorElement = document.getElementById(`detector-${detector.id}`);
                        //console.log(detectorElement, `detector-${detector.id}`);
                        if (detectorElement) {
                            //console.log(detectorElement);
                            //console.log(detector)
                            
                            detectorElement.querySelector('.set_dose_rate-slider').value = detector.set_dose_rate;
                            //detectorElement.querySelector('.set_dose_rate-slider').dispatchEvent(new Event('input'));
                            detectorElement.querySelector('.set_dose_rate-value').value = detector.set_dose_rate;

                            detectorElement.querySelector('.set_threshold-slider').value = detector.set_threshold;
                            //detectorElement.querySelector('.set_threshold-slider').dispatchEvent(new Event('input'));
                            detectorElement.querySelector('.set_threshold-value').value = detector.set_threshold;

                            detectorElement.querySelector('#noise-toggle').checked = detector.noise;
                            detectorElement.querySelector('#noise').textContent = detector.noise ? 'On' : 'Off';

                            //detectorElement.querySelector('#cps-value').textContent = detector.cps;
                            //detectorElement.querySelector('#dose-rate-value').textContent = detector.dose_rate.toFixed(2);
                            //detectorElement.querySelector('#total-dose-value').textContent = detector.total_dose.toFixed(2);
                            //detectorElement.querySelector('#alarm-value').textContent = detector.alert ? 'Alarm' : 'No alarm';
                            if (detector.alert) {
                                detectorElement.classList.add('has-background-danger-light');
                            } else {
                                detectorElement.classList.remove('has-background-danger-light');
                            }
                            //detectorElement.querySelector('#location-value').textContent = detector.location;
                            //detectorElement.querySelector('#group-value').textContent = detector.group;

                        }
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        fetchData(); // Initial fetch
        setInterval(fetchData, 5000); // Fetch every 5 seconds


        document.getElementById('noise-all-on').addEventListener('click', function() {
            document.querySelectorAll('#detector-checkbox:checked').forEach(checkbox => {
            const detectorElement = checkbox.closest('.box');
            if (detectorElement) {
                detectorElement.querySelector('#noise-toggle').checked = true;
                detectorElement.querySelector('#noise').textContent = 'On';
            }
            });
        });

        document.getElementById('noise-all-off').addEventListener('click', function() {
            document.querySelectorAll('#detector-checkbox:checked').forEach(checkbox => {
            const detectorElement = checkbox.closest('.box');
            if (detectorElement) {
                detectorElement.querySelector('#noise-toggle').checked = false;
                detectorElement.querySelector('#noise').textContent = 'Off';
            }
            });
        });

        document.getElementById('dose_rate-all-slider').addEventListener('input', function() {
            const value = this.value;
            document.getElementById('dose_rate-all-value').value = value;
            document.querySelectorAll('#detector-checkbox:checked').forEach(checkbox => {
            const detectorElement = checkbox.closest('.box');
            if (detectorElement) {
                detectorElement.querySelector('.set_dose_rate-slider').value = value;
                detectorElement.querySelector('.set_dose_rate-value').value = value;
            }
            });
        });

        document.getElementById('threshold-all-slider').addEventListener('input', function() {
            const value = this.value;
            document.getElementById('threshold-all-value').value = value;
            document.querySelectorAll('#detector-checkbox:checked').forEach(checkbox => {
            const detectorElement = checkbox.closest('.box');
            if (detectorElement) {
                detectorElement.querySelector('#threshold-slider').value = value;
                detectorElement.querySelector('#threshold-value').value = value;
            }
            });
        });
    });
</script>
{% endblock %}
