<div class="box detector-box" id="detector-{{ user.id }}"
    
    <h2 class="subtitle mb-3">
        <input type="checkbox" id="detector-checkbox" name="detector-checkbox-{{ user.id }}"> 
        ({{ user.id }}) {{ user.name }}
    </h2>
    <hr class="my-1">
    
    <div>
        <div>
            <span class="value-name">Dose rate: </span>
            <span>
                <input type="number" class="set_dose_rate-value" id="set_dose_rate-value-{{user.id}}" name="set_dose_rate" value="{{ user.set_dose_rate }}" style="width: 30%;"
                    hx-post="/detector/{{ user.id }}/update-cps/"
                    hx-trigger="input,changed delay:500ms"
                    hx-swap="none"
                    name="set_dose_rate"
                    oninput="document.getElementById('set_dose_rate-slider-{{ user.id }}').value = this.value;"
                >
            </span>
            <span> uSv/h</span>
        </div>
        <div>
            <input type="range" class="set_dose_rate-slider input-slider" id="set_dose_rate-slider-{{user.id}}" min="0" max="500" step="0.1" value="{{ user.set_dose_rate }}"
                hx-post="/detector/{{ user.id }}/update-cps/"
                hx-trigger="input,changed"
                hx-swap="none"
                name="set_dose_rate"
                oninput="document.getElementById('set_dose_rate-value-{{user.id}}').value = this.value;"
            >
        </div>
    </div>
    
    <div>
        <div>
        <span class="value-name">Threshold: </span>
        <span>
            <input type="number" class="set_threshold-value" id="threshold-value" name="threshold" value="{{ user.set_threshold }}" style="width: 30%;">
        </span>
        <span>uSv/h</span>
        </div>  
        
        <div>
        <input type="range" class="set_threshold-slider input-slider" id="threshold-slider" min="0" max="500" value="{{ user.set_threshold }}"
            hx-post="/detector/{{ user.id }}/update-threshold/"
            hx-trigger="input"
            hx-swap="none"
            name="set_threshold"
           >
        </div>
    </div>
    <div>
        <span class="value-name">Noise: </span>
        <span class="value" id="noise">{{ user.noise|yesno:"On,Off" }}</span>
        <input type="checkbox" id="noise-toggle" name="set_noise"
            hx-post="/detector/{{ user.id }}/update-noise/"
            hx-trigger="change"
            hx-swap="none"
            name="set_noise"
            {{ user.noise|yesno:"checked,''" }}>
    </div>
    
    <span
        hx-get="/detector/{{ user.id }}/get-info/"
        hx-trigger="load, every 1s"
        hx-swap="innerHTML"
    >
        {% include "partials/detector_box_info.html" %}

    </span>
</div>

